body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --primary-main: #007aff;
  --text-primary: #1f1f1f;
  --selection-color: #f5f5f5;
  --scroller-color: #90939980;
  --background-color: #ececec;
  --divider-color: rgba(255, 255, 255, 0.06);
}

::selection {
  color: var(--selection-color);
  background-color: var(--primary-main);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scroller-color);
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
